@import "tailwindcss";
@import "@heroui/styles";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family-sans: var(--font-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-weight: 400;
}

html {
  background-color: #E6F1FE;
}

body {
  color: #3F3F46;
  background-color: #E6F1FE;
}

h1, h2, h3, h4, h5, h6 {
  color: #11181C;
  font-weight: 600;
}
